---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Hugues Touyon" description="À propos">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait.jpeg"
					alt="Hugues Touyon"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Je suis un développeur web Back-End spécialisé en Symfony. J'ai commencé ma carrière en informatique avec un BTS SIO, et j'ai continué à me spécialiser dans le domaine du développement web et principalement dans le langage PHP.
					</p>
					<p>
						J'ai acquis de l'expérience en travaillant dans diverses organisations, notamment ComSaintOmer, où j'ai contribué à la création d'une interface d'administration de type ERP et à la réalisation de connexions API à l'aide de Retool. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<p> 2023 : Développeur Web Back-End (Symfony), Greta, Saint-Omer</p>
					<p> 2022 : UI/UX Designer (Niveau 6), ID-Formation, Saint-Omer</p>
					<p> 2019 : BTS SIO (Service Informatique aux Organisations), Lycée Jean-Bart, Dunkerque</p>
					<p> 2016 : Baccalauréat Scientifique, Lycée Alexandre Ribot, Saint-Omer</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Symfony 5.4 / 6</p>
					<p>PHP</p>
					<p>Github</p>
					<p>MySQL</p>
					<p>Docker (en cours de formation)</p>
					<p>API</p>
					<p>JS / JQuery (basique)</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
